.admin-user {
  display: flex;

  border: 1px solid black;
  flex-direction: column;

  width: 100%;
}

.admin-top-bar {
  display: flex;
  border: 1px solid black;
}

.user-session-username {
  text-align: left;
  padding-left: 20px;
  color: pink;
  font-weight: bold;
}

.user-session-token-id-outer {
  display: flex;
  flex-direction: row;

  justify-content: center;

  align-items: center;
}
