.general-user {
  border: 1px solid orange;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.toggle-user-view-button-parent {
  display: flex;
  margin-top: auto;
}

.toggle-user-view-button {
  display: flex;
  margin-top: 20px;

  margin-left: auto;
  width: fit-content;
  background-color: orange;
  color: black;

  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
