.login-form-container {
  display: flex;
  flex-direction: column;
  border: 1px solid white;
  width: 300px;
  min-height: 400px;
  color: aqua;
}

.login-form-container-wide {
  width: 100%;
}
.login-form-inner{
  display: flex;
  flex-direction: column;

  margin: 50px;

  align-items: center;
}
.login-form-body {
  display: flex;

  margin-top: 15px;
  margin-left: 15px;
  color: turquoise;
}

.login-field {
  display: flex;
  margin-top: 15px;
  color: turquoise;

  margin-left: 10px;
  margin-right: 10px;

  min-width: 100px ;

  max-width: 60%;
}

.login-button-submit{
  display: flex;
  margin-top: 10px;
}


.login-form-read-only{
  display: flex;
  height: 100%;
  flex-direction: column;
}

.login-button-logout {

  display: flex;
  margin-top: auto;
  margin-left: auto;

  width: fit-content; 
    border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;

}